atmibroker-xatmi/win32-xatmi-debug-assist/xsd/Service.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.jboss.org/blacktie"
		xmlns="http://www.jboss.org/blacktie"
		elementFormDefault="qualified">
    <xsd:element name="SERVICE">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="SERVICE_DESCRIPTION" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SERVICE_DESCRIPTION">
        <xsd:complexType>
  		<xsd:sequence>
  			<xsd:element name="SIZE" type="xsd:string"/>
  		</xsd:sequence>
	</xsd:complexType>
    </xsd:element>
</xsd:schema>
